@media (max-width: 1200px)
	.menu
		&_link
			font-size: 13px
		&_item
			padding-right: 20px

@media (max-width: 992px)
	.menu
		&_link
			font-size: 12px
			
	.promo
		&_header
			font-size: 50px
		&_subheader
			font-size: 33px
		&_descr
			font-size: 15px

	.reasons
		.wrapper_item
			padding-left: 20px
		.wrapper_text
			font-size: 13px

	.mobile
		&_item
			width: 300px
			height: 260px
			&_subtitle
				font-size: 21px
@media (max-width: 768px)
	.menu
		&_link
			font-size: 9px
		&_item
			padding-right: 13px

	.subheader
		&_logo
			margin-top: 20px
			max-width: 90%
		&_official
			font-size: 10px
		&_call
			font-size: 10px
		&_phone 
			font-size: 20px
		&_btn
			width: 165px
			height: 43px
			font-size: 13px

	.promo
		&_header
			margin-top: 49px
			font-size: 40px
		&_subheader
			font-size: 23px
		&_descr
			font-size: 14px
			line-height: 20	px
		&_btn
			line-height: 43px
			width: 249px
			height: 53px

	.title
		font-size: 28px


	.reasons
		.wrapper_around
			width: 106px
			height: 106px
		.wrapper_descr
			font-weight: 300
			font-size: 14px
		.wrapper_text
			font-size: 12px

	.mobile
		&_item
			width: 200px
			height: 220px	
			padding-top: 60px
			&_subtitle
				font-size: 14px
			&_plus
				width: 20px
				height: 20px
	.car
		padding-bottom: 80px
		&_img
			width: 100%
	.terms
		padding-bottom: 64px
		&_block_title
			font-size: 18px
		.red
			font-size: 18px
		&_list
			li
				font-size: 14px
				line-height: 20px
	.world
		&_city
			font-size: 13px

	footer
		.social
			&_item
				width: 30px
				height: 30px
				img
					width: 15px
					height: 15px
		.info
			&_divider
				width: 280px
				height: 5px
			&_title
				margin-top: 20px
				a
					font-size: 13px
			&_subtitle
				margin-top: 8px
				a
					font-size: 8px
@media (max-width: 768px)
	.menu
		&_link
			font-size: 9px
		&_item
			padding-right: 13px
	.subheader
		&_btn
			width: 120px
			height: 35px
			font-size: 10px


	.promo
		&_header
			font-size: 30px
		&_subheader
			font-size: 18px
		&_descr
			font-size: 13px
			line-height: 18px
		&_btn
			width: 229px
			height: 53px
	.reasons
		.wrapper_around